<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MonoGame.Framework.Content.Pipeline.Portable.9000" version="3.8.9013" targetFramework="net461" />
  <package id="MonoGame.Framework.Portable.9000" version="3.8.9013" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
</packages>